<!doctype html>
<html lang="ar">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css">

    <title>Employee Management system</title>
</head>

<body>
    <div class="container">
        <h1>Office Employee Management System!</h1>
        <hr>
        <a class="btn btn-primary" href="/all_emp" role="button">View All Employee</a>
        <a class="btn btn-primary" href="/add_emp" role="button">Add An Employee</a>
        <a class="btn btn-primary" href="/remove_emp" role="button">Remove An Employee</a>
        <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee Details</a>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>